*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.center_all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg1 {
  background-color: #0d1a2d;
  width: 100%;
  height: 100vh;
}

.bg2 {
  background-color: #15273f;
}

.cyanTxt{
  color: #00fdfb;
}

.p-txt {
  color: #93aac9;
}

.bg3{
  background-color: #93aac9;
  height: 1px;
  width: 100%;
}

.test {
  border: 1px solid red;
}